<h1>Welcome to SageOne</h1>

<p>SageOne is a solution for Products management which includes the option to import them from BlueBill and YouDoInvoice database files.</p>
<p>This system was developed following <a href="https://github.com/Sage/sageone_br_programming_exercises/blob/master/remote_web_application_use_case.md" target="_blank">these instructions.</a> And its documentation is available <a href="https://github.com/felipegruoso/sage_one/blob/master/README.rdoc" target="_blank">here.</a></p>
<p>The source code is available <a href="https://github.com/felipegruoso/sage_one" target="_blank">here</a>.</p>

<h3>What should I know?</h3>

<p>SageOne basically contains two modules:</p>
<ul>
  <li>Manage Products</li>
  <li>Import Products</li>
</ul>

<h3>Manage Products</h3>

<p>On this module, you will be able to manage your products, listing, creating, updating, and destroying.</p>

<div class="alert alert-info" role="alert">
  <p><b>NOTE:</b> All products can be submitted to these operations, including the imported ones.</p>
</div>

<h3>Import Products</h3>

<p>Focusing on attract clients, SageOne includes a module that allows the user to import Products from BlueBill and YouDoInvoice databases by uploading the exported database files.</p>

<div class="alert alert-warning" role="alert">
  <p><b>REMEMBER:</b> <i>BlueBill's</i> database file format is CSV. <i>YouDoInvoice's</i> database file format is TXT.</p>
</div>
