<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @selling_value.value %>
</p>

<%= link_to 'Edit', edit_product_selling_value_path(@product.id, @selling_value) %> |
<%= link_to 'Back', product_selling_values_path(@product.id) %>
