// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#import p {
  text-align: justify;
}

table {
  table-layout: fixed;
}

th, td {
  overflow: auto;
  padding: 3px;
}

td > span, th > span {
  width: 145px !important;
  display: block;
}

th > span {
  text-align: center
}

thead, tbody { display: block; }

tbody {
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.action-button {
  padding: 0;
  margin: 0;
  width: 30%;
  display: inline-block;
}

.actions-span {
  text-align: center;
}

.obs {
  resize: none;
}
