<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<%= link_to 'Edit', edit_product_category_path(@product.id, @category) %> |
<%= link_to 'Back', product_categories_path(@product.id) %>
