<h1>Editing Product</h1>

<%= render 'form' %>

<div class="btn-toolbar">

  <div class="btn-group">
    <%= button_to @product, method: :get, :class => "btn btn-default" do %>
      <span class="glyphicon glyphicon-eye-open"></span> Details
    <% end %>
  </div>

  <div class="btn-group">
    <%= button_to products_path, method: :get, :class => "btn btn-default" do %>
      <span class="glyphicon glyphicon-list-alt"></span> Product List
    <% end %>
  </div>

</div>
